# -----------------------------
# Python / notebooks
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.ipynb_checkpoints/

# -----------------------------
# Poetry / virtualenv
# -----------------------------
.venv/
.poetry/

# -----------------------------
# Editors
# -----------------------------
.vscode/
.history/

# -----------------------------
# Env files
# -----------------------------
.env
.env.*
!.env.example

# -----------------------------
# Data: ignore tudo em data/,
# mas mantenha a pasta raw/ e seus JSONs de manifesto
# -----------------------------
data/**

# Des-ignora o diretório data/ em si (para poder versionar exceções dentro)
!data/

# Mantém a pasta raw/
!data/raw/

!data/raw/*.json

!data/.gitkeep

#docker
dist/
build/
.cache/
