# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.ipynb_checkpoints/

# Poetry / venv
.venv/
.poetry/

# Editors
.vscode/
.history/

# Env
.env
.env.*

# Data
data/
!data/raw/data_urls.json

# Build / Docker
dist/
build/
.cache/
